{
	"presets": [
		["env", {
			"targets": {
				"browsers": ["last 2 versions", "safari >= 9.0"]
			},
			"modules": false
		}]
	],
	"plugins": [
		["provide-modules", {
			"regenerator-runtime": "regeneratorRuntime"
		}],
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"syntax-dynamic-import",
		"lodash"
	]
}
