@import '_mixin';

$controls-z-index: 11;
$outstream-button-color: #fff;
$outstream-button-size: 20px;
$outstream-progress-bar-color: #7c7c7c;
$outstream-progress-bar-current-time-color: #fff;
$outstream-progress-bar-height: 4px;
$vpaid-z-index: 10;

.porvata-outstream {
	max-width: 640px;
	position: relative;

	&.porvata3 {
		&::before {
			content: attr(data-label);
			display: block;
			font-size: .625rem;
			font-weight: 700;
			line-height: .75rem;
			margin: 0;
			padding-bottom: 6px;
			padding-top: 6px;
			text-align: center;
			text-transform: uppercase;
		}

		.video-overlay {
			@include absolute-fill();
			height: 100%;
			top: 24px;
		}

		.video-display-wrapper {
			height: 100%;
			position: relative;
			width: 100%;

			video, &.vpaid-enabled > div {
				@include absolute-fill();
			}

			&.vpaid-enabled {
				video, > div:last-child {
					z-index: $vpaid-z-index;
				}
			}

			.video-player {
				background: #000;
				margin: 0 auto;
				pointer-events: auto;
			}
		}

		& > div {
			height: 0;
		}

		&.slot-animation {
			@include transition(max-height, 1s, ease, 0);
			overflow: hidden;
		}

		.button-control .icon,
		.porvata-icon {
			cursor: pointer;
			fill: $outstream-button-color;
			height: $outstream-button-size;
			overflow: hidden;
			position: absolute;
			width: $outstream-button-size;
		}

		.progress-bar {
			background: $outstream-progress-bar-color;
			bottom: 0;
			height: $outstream-progress-bar-height;
			left: 0;
			position: absolute;
			width: 100%;
			z-index: $controls-z-index;
		}

		.current-time {
			@include transition(width, 1s, linear, 0);
			background: $outstream-progress-bar-current-time-color;
			height: 100%;
			max-width: 100%;
			width: 0;
			z-index: $controls-z-index;
		}

		.volume-button {
			bottom: 0;
			height: $outstream-button-size;
			padding: 14px 12px 14px 7px;
			position: absolute;
			right: 0;
			width: $outstream-button-size;
		}

		.porvata-switchable-icon {
			.porvata-off-icon {
				display: none;
			}

			&.is-on {
				.porvata-off-icon {
					display: inline-block;
				}

				.porvata-on-icon {
					display: none;
				}
			}
		}

		.button-close {
			display: none;
		}

		&.outstream-floating {
			.button-close {
				background: transparent;
				border: none;
				display: block;
				height: 0;
				left: 0;
				outline: none;
				position: absolute;
				top: 0;
				width: 0;

				& > svg {
					height: 14px;
					left: 0;
					padding: 6px;
					top: 0;
					width: 14px;
				}
			}

			.video-overlay {
				background: transparent;
			}

			.video-display-wrapper {
				bottom: 20px;
				height: 240px;
				position: fixed;
				right: 20px;
				width: 320px;
			}

			.video-player {
				padding: 30px 0;
			}
		}
	}
}