<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Outstream</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="../../vendor/dist/styles.css" type="text/css" />
		<script type="text/javascript" src="../../vendor/dist/vendor.js"></script>
		<script type="text/javascript">
			var googletag = window.googletag || {};
			googletag.cmd = googletag.cmd || [];

			(function() {
				var gads = document.createElement('script'),
						useSSL = 'https:' == document.location.protocol,
						node = document.getElementsByTagName('script')[0];

				gads.async = true;
				gads.type = 'text/javascript';
				gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
				node.parentNode.insertBefore(gads, node);
			})();
		</script>
	</head>
	<body>
		<script>
			window.adsQueue = window.adsQueue || [];
		</script>
		<header class="header">
			<div id="top_leaderboard" class="gpt-ad top-leaderboard"></div>
			<script>
				window.adsQueue.push({
					id: 'top_leaderboard'
				});
			</script>
		</header>
		<nav class="navigation">navbar</nav>
		<div class="wrapper">
			<article class="main">
				<p>
					<strong>DFP configuration:</strong>
				</p>
				<ul>
					<li><a href="https://admanager.google.com/5441#delivery/LineItemDetail/lineItemId=4759413988&orderId=245575332">Player line item Direct</a></li>
					<li><a href="https://admanager.google.com/5441#delivery/LineItemDetail/orderId=245575332&lineItemId=4762545758">Indirect VAST</a></li>
					<li><a href="https://admanager.google.com/5441#delivery/LineItemDetail/lineItemId=4407275016&orderId=245575332">Direct VAST</a></li>
				</ul>
				<p>
					<strong>Disable floating:</strong>
				</p>
				<pre>?floating=0</pre>
                <p>
					<strong>Direct / InDirect</strong>
					<pre>?wikia_video_adapter=2000</pre> the Indirect VAST line item should be served (creative with a cow).
				</p>
				<p>
					Without the wikiaVideo adapter the Direct VAST line item should be served (creative with a rabbit).
				</p>
				<hr />
				<p>Lorem ipsum dolor sit amet, vix esse repudiandae et, cu vis etiam falli. Illud exerci aliquip ei his. Quis iudicabit in quo, vis et minim noster deseruisse. Eius vidisse repudiare in duo, possim audiam eu has. Eum an iudico mandamus dissentiunt.</p>
				<p>Te veniam conceptam qui, per no case feugait. Affert iriure nonumes no eos, est minimum recteque ea, ei mea nibh consetetur. Ubique salutatus adversarium at sed. Ex erroribus sententiae reprimique sed, qui no viderer inimicus pericula, ei eam delicata concludaturque. Pri te nemore constituam.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Lorem ipsum dolor sit amet, vix esse repudiandae et, cu vis etiam falli. Illud exerci aliquip ei his. Quis iudicabit in quo, vis et minim noster deseruisse. Eius vidisse repudiare in duo, possim audiam eu has. Eum an iudico mandamus dissentiunt.</p>
				<p>Te veniam conceptam qui, per no case feugait. Affert iriure nonumes no eos, est minimum recteque ea, ei mea nibh consetetur. Ubique salutatus adversarium at sed. Ex erroribus sententiae reprimique sed, qui no viderer inimicus pericula, ei eam delicata concludaturque. Pri te nemore constituam.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<div id="incontent_player" class="incontent-player"></div>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Lorem ipsum dolor sit amet, vix esse repudiandae et, cu vis etiam falli. Illud exerci aliquip ei his. Quis iudicabit in quo, vis et minim noster deseruisse. Eius vidisse repudiare in duo, possim audiam eu has. Eum an iudico mandamus dissentiunt.</p>
				<p>Te veniam conceptam qui, per no case feugait. Affert iriure nonumes no eos, est minimum recteque ea, ei mea nibh consetetur. Ubique salutatus adversarium at sed. Ex erroribus sententiae reprimique sed, qui no viderer inimicus pericula, ei eam delicata concludaturque. Pri te nemore constituam.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
				<p>Scaevola evertitur id pro, nec possim aliquando ex, equidem accumsan no sit. Dicat cetero an cum. Sea ut choro tritani intellegam, saepe consul ne vel. Ne quo delenit inimicus. Eu duo natum atqui assum. Feugait vulputate ea mei, ad ius labores epicuri theophrastus, vis ea feugiat concludaturque. Cum et lorem labores graecis, novum nostrud cum et.</p>
				<p>Ut euismod lucilius suscipiantur eum, ad dico disputationi vel. Ea pro fugit ubique iisque, te malis integre ius. Reque causae no mei. Mea id eruditi assentior, in cum mutat laboramus.</p>
				<p>Sea necessitatibus vituperatoribus ex, mei commune deserunt necessitatibus ad, illud adolescens conclusionemque has ei. Appetere convenire an eam, in nam case nonumes, idque apeirian usu ea. Corpora fastidii definitiones mea cu, qui ei natum mutat fierent, ei mollis suscipit corrumpit mei. No iriure tincidunt sed, putent pertinax nec ad. No nihil vivendum disputationi sea, vel id enim vivendo, mea tota intellegebat ut.</p>
			</article>
			<aside class="aside">
				<div id="rail-wrapper">
					<div id="rail">
						<div id="top_boxad" class="gpt-ad top-boxad"></div>
						<script>
							window.adsQueue.push({
								id: 'top_boxad'
							});
						</script>
						<div class="rail-module">rail module</div>
					</div>
				</div>
			</aside>
		</div>
		<footer>
			<div id="bottom_leaderboard" class="gpt-ad bottom-leaderboard hide"></div>
		</footer>
		<script type="text/javascript" src="./dist/bundle.js"></script>
	</body>
</html>
