@import '~ad-products/styles/styles.scss';

/* Client styles ONLY */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html, body {
	background: #eee;
	color: #444;
	font-family: Lato, sans-serif;
	margin: 0;
}

.hide {
	display: none;
}

.wrapper {
	background: #fff;
	box-shadow: 0 2px 26px 3px rgba(0,0,0,0.05);
	display: flex;
	height: 100%;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1024px;
	padding-bottom: 1em;
	text-align: center;
}

.wrapper > * {
	padding: 1em;
	flex: 1 100%;
}

.main {
	text-align: justify;
	padding: 0 2em;
}

.aside {
	text-align: center;
}

.header {
	height: auto;
}

.top-leaderboard, .top-boxad, .incontent-boxad, .rail-module {
	background: #1976D2;
	color: #eee;
	font-size: 1.3em;
	height: 250px;
	line-height: 250px;
	margin: 0 auto;
	width: 300px;
}

.top-leaderboard {
	margin: 15px auto;
}

.incontent-boxad {
	margin-top: 15px;
	position: fixed;
	top: 0;
}

.incontent-boxad.pinned-top {
	position: relative;
}

.rail-module {
	background: #1bbab4;
	height: 600px;
	line-height: 600px;
	margin-top: 15px;
}

#rail-wrapper {
	height: 100%;
}

.rail-fixed {
	position: fixed;
	top: 15px;
}

.rail-static {
	position: static;
}

footer {
	background: #fff;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
}

@media all and (min-width: 600px) {
	.aside {
		flex: 1 auto;
	}
}

@media all and (min-width: 800px) {
	.main {
		flex: 2 0;
	}
	.main {
		order: 1;
	}
	.aside {
		order: 2;
		max-width: 300px;
	}
	.top-leaderboard {
		height: 90px;
		line-height: 90px;
		width: 728px;
	}
}

/* Templates */

.bfaa-template {
	margin: 0;
}

/* Sticky BFAA */
.gpt-ad.bfaa-template.sticky-bfaa {
	backface-visibility: hidden;
	background: #FFF;
	left: 0;
	padding: 0;
	position: fixed;
	transform: translate3d(0, 0, 0); // GPU acceleration
	width: 100%;
	z-index: 5000101;
}
