@import '~@wikia/ad-products/styles/styles.scss';

/* Client styles ONLY */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

html, body {
	background: #eee;
	color: #444;
	font-family: Lato, sans-serif;
	margin: 0;
}

.hide {
	display: none;
}

pre {
	background: #eee;
	border: #ddd 1px solid;
	border-radius: 2px;
	padding: 15px;
}

.wrapper {
	background: #fff;
	display: flex;
	height: 100%;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1024px;
	padding-bottom: 1em;
	text-align: center;
}

.wrapper > * {
	padding: 1em;
	flex: 1 100%;
}

.main, .bottom-content {
	text-align: justify;
	padding: 0 2em;
}

.aside {
	text-align: center;
}

.header {
	height: auto;
}

.navigation {
	position: sticky;
	top: 0;
	padding: 0.8em;
	cursor: default;
	color: #eee;
	background: linear-gradient(0, rgba(216, 112, 147, .94), #d87093);
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 1.3em;
	letter-spacing: .5em;
	z-index: 100;
}

.top-leaderboard, .top-boxad, .repeatable-boxad, .incontent-boxad, .rail-module {
	background: #1976D2;
	color: #eee;
	font-size: 1.3em;
	height: 250px;
	line-height: 250px;
	margin: 0 auto;
	width: 300px;
}

.top-leaderboard {
	margin: 15px auto;
}

.incontent-boxad {
	margin-top: 15px;
	position: fixed;
	top: 0;
}

.incontent-boxad.pinned-top {
	position: relative;
}

.btn-push {
	cursor: pointer;
	position: relative;
	top: 0px;
	text-decoration: none;
	font-size: 15px;
	background: #f7f7f7;
	padding: 10px 50px;
	margin: 0 10px;
	border: 1px solid #c4c4c4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 0px #c4c4c4;
	-moz-box-shadow: 0px 5px 0px #c4c4c4;
	-ms-box-shadow: 0px 5px 0px #c4c4c4;
	-o-box-shadow: 0px 5px 0px #c4c4c4;
	box-shadow: 0px 5px 0px #c4c4c4;
	color: #222;
	text-shadow: 1px 1px 1px #fff;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

.btn-push:active {
	position: relative;
	top: 5px;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-transition: All 250ms ease;
	-moz-transition: All 250ms ease;
	-o-transition: All 250ms ease;
	-ms-transition: All 250ms ease;
	transition: All 250ms ease;
}

.btn-push.red {
	background: #df4242;
	color: #fff;
	border: 1px solid #a01b1b;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 0px #a01b1b;
	-moz-box-shadow: 0px 5px 0px #a01b1b;
	-ms-box-shadow: 0px 5px 0px #a01b1b;
	-o-box-shadow: 0px 5px 0px #a01b1b;
	box-shadow: 0px 5px 0px #a01b1b;
	text-shadow: 1px 1px 1px #a01b1b;
}

.rail-module {
	background: #1bbab4;
	height: 600px;
	line-height: 600px;
	margin-top: 15px;
}

#rail-wrapper {
	height: 100%;
}

.rail-fixed {
	position: fixed;
	top: 15px;
}

.rail-static {
	position: static;
}

footer {
	background: #fff;
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center;
}

@media all and (min-width: 600px) {
	.aside {
		flex: 1 auto;
	}
}

@media all and (min-width: 800px) {
	.main {
		flex: 2 0;
	}
	.main {
		order: 1;
	}
	.aside {
		order: 2;
		max-width: 300px;
	}
	.top-leaderboard {
		height: 90px;
		line-height: 90px;
		width: 728px;
	}
}

/* Templates */

.bfaa-template {
	margin: 0;
}
